<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla Prestamo de auditorio</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <!-- Contenedor de toda la plantilla  -->
    <div class="container">
        <div class="header">
            <img src="../static/img/waves.png" class="waves" width="561" alt="waves">
            <div class="logoBecl">
                <img src="../static/img/logo_Becl.png" width="210" alt="logo">
            </div>
        </div>
        <div class="body-message">
            <h1>Préstamo Auditorio</h1>
            <h4>Cordial Saludo</h4>
            <p>
                De acuerdo a su solicitud, me permito informar que está autorizado el préstamo del auditorio para el día {{day}} de {{month}} en el horario de {{start}} a {{end}}.
                <br><br>
                Si el email fue suministrado, esté fue agendado a cuenta institucional en Google calendar. 
                Así mismo, se aclara que la responsabilidad del recibido y entrega del auditorio será por la persona que gestiona el préstamo 
                o en su defecto la que sea asignada para ello, por lo tanto, se le agradece a la menor brevedad suministrar los datos de la persona asignada (administrativo o un docente).
                <br><br>
                Para el uso del micrófono se le recuerda que debe traer dos pares de pilas doble AA y un 
                apuntador digital para diapositivas en el caso de requerirse. <b>El día del préstamo por favor Dirigirse a la entrada principal de la Biblioteca y notificar al 
                    personal de seguridad</b>. Ahí mismo se colocará a su disposición nuestro personal de TI para la conexión de los dispositivos electrónicos y entrega del auditorio.
                <br><br>
                Los profesionales de IT Support a cargo son:
                <ul>
                    <li>Angel Garcia (<a href="#">angelgabrielgara@ufps.edu.co</a>)</li>
                    <li>Andres Silva (<a href="#">andresalexanderss@ufps.edu.co</a>)</li>
                </ul>
                <p>
                    Con ellos pueden ultimar detalles o una petición especial que requerían o 
                    puede escribir al email de la biblioteca (<a href="#">biblioteca@ufps.edu.co</a>) o a llamar a la ext. 136.
                    <br><br>
                    Al finalizar la jornada, se le agradece notificarle a nuestro personal de 
                    TI o al personal de seguridad para la entrega.
                    <br><br>
                    Quedamos a su disposición, deseándole éxitos en su actividad.
                </p>
            </p>
        </div>
        <div class="footer">
            <div class="content-footer">
                <img src="../static/img/logo_Becl.png" width="131" alt="logoBecl">
            </div>
            <div class="footer-info-social">
                <div class="footer-info">
                    <p>
                        Secretaria, Biblioteca Eduardo Cote Lamus<br>
                        <b>Inés Vera Villamizar</b>
                    </p>
                </div>
                <div class="footer-social">
                    <ul>
                        <li><img src="../static/img/phone.png" width="15" alt="phone"> 607 5776655 ext. 130 136</li>
                        <li><img src="../static/img/web.png" width="15" alt="web">  http://biblioteca.ufps.ed.co</li>
                        <li><img src="../static/img/email.png" width="15" alt="email">  biblioteca@ufps.edu.co</li>
                        <li><img src="../static/img/place.png"width="15" alt="place">  Cúcuta, Colombia</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bar"></div>
    </div>
</body>
</html>